:root {
    --primary-color: #F1F6F9;
    --secondary-color: #14274E;
    --tertiary-color: #394867;
    --quaternary-color: #9BA4B4;
    --quinary-color: #fff;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: helvetica-light,sans-serif;
}

/* Header-Nav Styles Start */
header {
    padding: 15px 25px;
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 2.5px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 5px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 13px;
}

header nav ul li a:hover {
    color: var(--secondary-color);
}
/* Header-Nav Styles End */

/* Banner Styles Start */
.banner {
    background-image: url("./images/me-on-mountain.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.banner-info {
    text-align: center;
    margin: 30%;
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2.5px;
}
/* Banner Styles End */

/* Section Styles Start */
.flex-row {
    display: flex;
}

.flex-row-text {
    width: 60%;
    font-size: 15px;
    padding: 30px auto;
    text-align: center;
    text-justify: inter-word;
    margin: 25px auto 35px auto;
}

.section-title {
    font-size: 20px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-top: 45px;
    padding-bottom: 25px;
    text-align: center;
    margin: 35px auto 35px auto;
    width: 8%;
}
/* Section Styles End */

/* About Me Styles Start */

/* About Me Animals Styles Start */
.pets {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pet {
    margin: 20px;
    background:hsl(0, 0%, 100%);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
    color: var(--secondary-color);
    flex: 1;
    text-align: center;
    opacity: .95;
    transition: all 0.3s ease 0s;
}

.pet:hover {
    opacity: 1;
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}

.pet img {
    width: 100%;
    overflow: auto;
}

.pet-bio {
    padding: 25px;
    overflow: auto;
    line-height: 1.3;
}

.pet-bio h3 {
    font-size: 15px;
    margin-bottom: 15px;
}

.pet-bio p {
    font-size: 13px;
}
/* About Me Animals Styles End */
/* About Me Styles End */

/* Work Styles Start */
.projects {
    background-image: url("./images/me-bottom-of-mountain.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}

.row-1 {
    width: 77.6%;
    margin: 20px auto 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column img {
    width: 100%;
    margin: 50px auto 0;
    background:hsla(0, 0%, 100%, 0);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 12px 0px;
    color: var(--secondary-color);
    flex: 1;
    opacity: 0.75;
    transition: all 0.3s ease 0s;
}

.column img:hover {
    opacity: 1;
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgb(25, 25, 25);
}

.row-2 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column-2 {
    margin: 40px;
    background:hsl(0, 0%, 100%);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 12px 0px;
    color: var(--secondary-color);
    flex: 1;
    text-align: center;
    opacity: .75;
    transition: all 0.3s ease 0s;
}

.column-2:hover {
    opacity: 1;
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgb(25, 25, 25);
}

.column-2 img {
    width: 100%;
    overflow: auto;
}
/* Work Styles End */

/* Contact Styles Start */
.list {
    display: table;
    margin: 20px auto 50px;
}

.list ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.list ul li {
    display: inline;
    margin: 0 auto;
    padding: 20px 20px;
    font-weight: lighter;
    font-size: 18px;
    color: var(--secondary-color);
}

.list ul li a {
    display: inline-block;
    position: relative;
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.list ul li a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--secondary-color);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.list ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* Contact Styles End */

/* Media Queries */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        padding-top: 5px;
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        padding-bottom: 10px;
    }

    header nav ul li a {
        font-size: 15px;
    }

    .section-title {
        width: 20%;
    }
}

@media screen and (max-width: 575px) {
    .list ul li {
        text-align: center;
        flex: 0 100%;
    }
}